# Banco de dados local (O MAIS IMPORTANTE)
# Impede que o banco do seu computador apague os dados gravados no Railway
ativos.db

# Arquivos temporários e caches que o Python cria sozinho
__pycache__/
*.pyc
*.pyo
*.pyd

# Pastas de ambiente virtual (caso você use venv, env ou .venv no seu computador)
venv/
env/
.venv/
ENV/

# Arquivos de configuração do seu editor de código (VS Code, PyCharm, etc.)
.vscode/
.idea/

# Arquivos temporários do sistema operacional (Windows/Mac)
.DS_Store
Thumbs.db
